.vs/CSE_445_Project/FileContentIndex/9e4b8157-ec01-4dfd-8cf6-55a4365c4324.vsidx
.vs/CSE_445_Project/FileContentIndex/fff50048-0a3d-45d6-9194-833474e269a7.vsidx
.vs/CSE_445_Project/v17/.wsuo
.vs/CSE_445_Project/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
